body {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    margin: 0;
}

/* banner/header style */
.banner-container {
    background-color: #F9F6E2;
    padding: 5% 10%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.banner-img img {
    width: 90%;
}

.banner-title {
    font-size: 25px;
    text-shadow: 0px 1px 3px;
    font-weight: 900;
}

.banner-des {
    font-size: 40px;
}

.banner-des>span {
    color: #E527B2;
}

.promo-code {
    font-size: 15px;
    font-weight: 500;
}

.promo-code span {
    color: #fff;
    background-color: #E527B2;
    padding: 8px 15px;
    border-radius: 5px;
    text-shadow: black 2px 2px 2px;
}


/* card-and-cart style */
.card-and-cart {
    background-color: #F3F3F3;
    padding: 80px 130px;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 25px;
}

.cards-container .card {
    display: grid;
    grid-template-rows: 60% 40%;
}

.card-and-cart .card figure {
    background-color: #F3F3F3;
}

.card-and-cart .card .price {
    color: #74746c;
}

.coupon-apply-sec {
    background-color: #fff;
    margin-top: 85px;
}


.btn-apply-coupon {
    background-color: #E527B2;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: -10px;
}

.coupon-field {
    border: 2px solid #DBDBDB;
    padding: 5px;
    width: 100%;
}

.item-and-calc {
    background-color: #fff;
}

.price-calc-contaier span {
    color: #888;
}

.price-calc-contaier hr {
    color: #888;
}

.purchase-btn {
    background-color: #E527B2;
    color: #fff;
    border-radius: 5px;
    width: 100%;
}



/* popup */

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 1;
}

.order-complete-popup {
    width: 300px;
    background-color: #fff;
    text-align: center;
    padding: 65px 35px;
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-complete-popup img {
    width: 80px;
}

.order-complete-popup h2 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 900;
}

.order-complete-popup button {
    margin-top: 20px;
    color: #fff;
    background-color: #E527B2;
    padding: 5px 8px;
    border-radius: 6px;
}

.hide {
    visibility: hidden;
}